/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpintel/
npm-debug.log.*
resources/assets/sql/*
public/images/*
resources/views/tests/*

