
.ico-star,
.ico-logo-ua-top-host,
.ico-trophy,
.ico-gift,
.ico-first,
.ico-second,
.ico-third,
.ico-triangle
  background-image: url("/img/spritebox-sprite.png")
  background-repeat: no-repeat
  display: inline-block
  vertical-align: middle

.ico-star
  height: 33px
  width: 33px

.ico-logo-ua-top-host
  background-position: -33px -0
  height: 32px
  width: 170px
    
.ico-triangle
  background-position: -137px -33px
  background-repeat: no-repeat
  // content: ''
  display: inline-block
  height: 12px
  position: absolute
  right: 10px
  top: 40%
  transition: transform .5s ease
  vertical-align: middle
  width: 14px

.body-bg
    //TODO: Up background
  background-image: url("/img/background.jpg")
    //background-color: lightgray
    // background-repeat: repeat

.ico-gift
  background-position: -32px -33px
  height: 30px
  width: 30px

.ico-trophy
  background-position: -0 -33px
  height: 32px
  width: 32px

